@import '../../index.module.scss';

.navContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: $brightBoxShadow1;
    min-width: 180px;
    width: 180px;
    height: 400px;
    margin: auto 0 auto 40px;
    margin-top: 0;
    padding: 20px 0;
    border-radius: 5px;

    .navBar {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 0;
        margin: auto;
        margin-top: 0;
        width: 100%;

        .link {
            width: 95%;
            display: flex;
            background-color: transparent;
            border: none;
            font-weight: bold;
            color: $mainBrightText;
            justify-content: flex-end;
            text-decoration: none;
            padding: 10px 20px;
            transition: all 0.5s;
            margin: 5px auto;
            border-radius: 5px;

            .tooltip {
                display: none;
                position: absolute;
                margin-right: 50px;
                margin-top: -5px;
                background-color: $previewDarkColor;
                color: white;
                padding: 5px 10px;
                font-size: $fontSize2;
                direction: rtl;
                text-align: right;
                font-family: titleFont;

                &::after {
                    content: " ";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin-top: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent transparent $previewDarkColor;
                }
            }

            span {
                font-size: $fontSize2;
                font-family: titleFont;
            }

            i {
                margin: auto 0 auto 5px;
                font-size: $fontSize3;
            }

            .icon {
                margin: auto 0 auto 5px;
                font-size: $fontSize3;
            }

            &:hover {
                cursor: pointer;
                text-decoration: none;
            }
        }

        .activeLink {
            color: $primaryColor1;
            background-color: rgba($primaryColor2, 0.4);
        }
    }
}

@media only screen and (max-width: 1060px) {
    .navContainer {
        min-width: 60px;
        width: 60px;

        .navBar {
            .link {
                span {
                    display: none;
                }

                .icon {
                    margin: auto;
                }

                &:hover {
                    .tooltip {
                        display: flex;
                    }
                }
            }
        }
    }
}