@import '../../index.module.scss';

.header {
    display: flex;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 0;
    width: 100%;
    padding: 0 40px;
    background-color: whitesmoke;
    z-index: 5;
    box-shadow: $brightBoxShadow1;

    .titleContainer {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        margin: auto;
        margin-right: 0;
        width: 35%;

        .title {
            color: $mainBrightText;
            margin: auto;
            font-size: $fontSize3;
            font-weight: bold;
            text-align: right;
            width: 100%;
        }
    }

    .mainLogo {
        margin: 0 auto;
        padding: 5px 85px;
        font-size: $fontSize4;
        color: whitesmoke;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s;
        display: flex;
        width: 300px;
        width: 30%;

        img {
            width: 80px;
            object-fit: cover;
            margin: auto -1px;
            z-index: 1;
        }
    }

    .headerLeftSide {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: auto;
        margin-left: 0;
        width: 35%;

        .link {
            text-decoration: none;
        }

        .button {
            margin: auto 5px;
            display: flex;

            span {
                font-size: $fontSize2;
                font-family: titleFont;
                margin: auto;
            }

            .icon {
                margin: auto;
                margin-left: 5px;
                font-size: $fontSize3;
            }
        }

        .fill {
            background-color: $primaryColor1;
        }

        .outlined {
            border: 1px solid $primaryColor1;
            color: $primaryColor1;
        }

        .texted {
            color: $primaryColor1;

            .icon {
                transform: scaleX(-1);
            }
        }
    }
}

@media only screen and (max-width: 1060px) {
    .header {
        padding: 10px 40px;

        .mainLogo {
            display: none;
        }

        .headerLeftSide {
            width: 70%;
        }

        .titleContainer {
            width: 30%;
        }
    }
}