@import '../../../index.module.scss';

.addProject {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    padding: 25px;

    .addProjectForm {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: auto;

        .save {
            margin: auto;
            margin-left: 0;
            width: 140px;
            padding: 10px 0;
            font-size: $fontSize2;
            font-family: titleFont;
            background: linear-gradient(135deg, $primaryColor1, $primaryColor2);
        }

        .addField {
            width: 23%;
            margin: auto 5px;

            .addInput {
                font-size: $fontSize2;
                width: 100%;
            }
        }
    }

    .table {
        margin: 20px auto 0 auto;
        width: 100%;

        .tbl {
            font-family: titleFont;
            font-size: $fontSize2;
            direction: rtl;

            h1 {
                font-size: $fontSize2;
                margin: auto;
            }
        }

        .UserLogo {
            width: 30px;
        }
    }

    .btnContainer {
        display: flex;
        width: 100%;
        margin: 40px auto;

        .save {
            margin: auto 0;
            display: flex;
            background-color: $secondaryColor1;
            padding: 5px 25px;

            span {
                font-size: $fontSize2;
                font-family: titleFont;
                margin: auto;
            }

            .icon {
                margin: auto;
                margin-left: 5px;
                font-size: $fontSize3;
            }
        }

        .remove {
            margin: auto;
            margin-left: 0;
            display: flex;
            color: $secondaryColor2;
            border: 1px solid $secondaryColor2;
            padding: 5px 25px;

            &:hover {
                background-color: rgba($secondaryColor2, 0.1);
            }

            span {
                font-size: $fontSize2;
                font-family: titleFont;
                margin: auto;
            }

            .icon {
                margin: auto;
                margin-left: 5px;
                font-size: $fontSize3;
                color: $secondaryColor2;
            }
        }
    }

    .addProjectForm {
        display: flex;
        width: 100%;
        margin: 10px auto;

        .addInput {
            width: 20%;
        }
    }
}

@media only screen and (max-width: $tablet_screen) {
    .addProject {
        margin-top: 20px;

        .addProjectForm {
            flex-wrap: wrap;

            select {
                width: 45%;
            }

            .save {
                width: 95%;
                margin: 10px auto;
            }

            .addField {
                width: 45%;
                margin: 10px auto;
            }
        }
    }
}